<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.betherichest.android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />


    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_btr_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.StatisticsActivity"
            android:label="@string/statistics"
            android:parentActivityName=".activities.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".activities.BoostersActivity"
            android:label="@string/boosters"
            android:parentActivityName=".activities.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".activities.AchievementsActivity"
            android:label="@string/achievements"
            android:parentActivityName=".activities.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".activities.SettingsActivity"
            android:label="@string/settings"
            android:parentActivityName=".activities.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".activities.LoginActivity"
            android:label="@string/profile"
            android:parentActivityName=".activities.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".activities.AboutActivity"
            android:label="@string/about_btr"
            android:parentActivityName=".activities.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".activities.AdWatcherActivity"
            android:label="@string/video_load"
            android:parentActivityName=".activities.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            tools:ignore="InnerclassSeparator" />

        <service
            android:name=".services.MyFirebaseMessagingService"
            tools:ignore="InnerclassSeparator">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".services.MyFirebaseInstanceIDService"
            tools:ignore="InnerclassSeparator">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3201079455068395~9303067462" />
    </application>
</manifest>
